<div class="card card-body bg-light">
  <p class="breadcrumbText">
    <a routerLink="/lugares">Lugares</a> / Contacto
  </p>
</div>
<div class="container">
  <label>Nombre</label>
  <input class="form-control" type="text" />
  <br />
  <label>Correo</label>
  <input class="form-control" type="email" />
  <br />
  <label>Mensaje</label>
  <textarea class="form-control"></textarea>
  <hr />
  <a class="btn btn-primary">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>

