<div class="container">
  <div class="row">

    <div class="col-md-4 offset-md-4 mt-10">
      <br>
      <div class="card card-body bg-light">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="registro.email">
        <br>
        <label for="password">Contraseña</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="registro.password">
        <hr>
        <a name="btnLogin" class="btn btn-primary btn-lg btn-block" (click)="registrar()">Registrarse!</a>
        <a name="btnCancel" class="btn btn-secondary btn-lg btn-block">Cancelar</a>
      </div>
    </div>
  </div>
</div>
